language: go

go:
  - 1.4

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi

install:
  - go get github.com/gorilla/websocket
  - go get github.com/boltdb/bolt
  - go get github.com/Sirupsen/logrus
  - go get gopkg.in/check.v1
  - go get euphoria.io/heim/proto

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci